name: Rekam SCTV DensTV Final Penyamaran

on:
  workflow_dispatch:

jobs:
  record:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Proses Rekam
        run: |
          TANGGAL=$(date -d "+7 hours" +'%d-%m-%Y')
          FILE_NAME="PPT_Jilid19_${TANGGAL}_720p.mp4"

          # Kita pakai IP Telkomsel (114.122.x.x) sebagai umpan
          # Dan User-Agent HP Android jadul yang biasanya filternya lebih longgar
          ffmpeg -user_agent "Dalvik/2.1.0 (Linux; U; Android 9; SM-G950F Build/PPR1.180610.011)" \
            -headers "X-Forwarded-For: 114.122.64.150" \
            -headers "Referer: http://www.dens.tv/" \
            -headers "Origin: http://www.dens.tv" \
            -headers "Connection: keep-alive" \
            -i "http://op-group1-swiftservehd-1.dens.tv/h/h217/02.m3u8" \
            -t 12600 \
            -vf "scale=-1:720" \
            -c:v libx264 -preset veryfast -b:v 1500k \
            -c:a aac -b:a 128k \
            -movflags +faststart \
            -y "$FILE_NAME"

      - name: Kirim ke Telegram
        if: always()
        run: |
          FILE_READY=$(ls -S *.mp4 2>/dev/null | head -1)
          if [ -n "$FILE_READY" ] && [ -s "$FILE_READY" ]; then
            curl -v -F "video=@$FILE_READY" \
            "https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendVideo?chat_id=${{ secrets.TELEGRAM_CHAT_ID }}&caption=Hasil Rekam SCTV"
          else
            echo "IP GitHub benar-benar diblokir total oleh DensTV."
            echo "Satu-satunya solusi adalah menggunakan VPS Indonesia."
          fi
          
